spawn-at-startup "quickshell"
spawn-at-startup "swaync"

// apps
spawn-at-startup "spotify-launcher"
spawn-at-startup "com.github.wwmm.easyeffects"
spawn-at-startup "carpe_diem"

input {
    keyboard {
        xkb {
            layout "be"
            variant "oss"
        }
        repeat-delay 600
        repeat-rate 25

        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed -0.1
    }

    mouse {
        accel-speed -0.9
    }

    focus-follows-mouse max-scroll-amount="90%"

    warp-mouse-to-focus

}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0

    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


binds {
    Mod+Shift+H         { show-hotkey-overlay; }

    // opening apps
    Mod+Return              hotkey-overlay-title="Open terminal: Alacritty" repeat=false { spawn "alacritty"; }
    Mod+X                   hotkey-overlay-title="Run an Application: fuzzel" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+V                   hotkey-overlay-title="Open clickboard" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+Shift+X hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+Comma hotkey-overlay-title="Settings" {
        spawn "dms" "ipc" "call" "settings" "focusOrToggle";
    }
    Mod+L                   allow-inhibiting=false hotkey-overlay-title="Lock the Screen: Hyprlock" { spawn "hyprlock"; }
    Mod+G                   hotkey-overlay-title="Open webbrowser: Chrome" { spawn "google-chrome-stable"; }
    Mod+Ctrl+X              hotkey-overlay-title="Open file explorer: Thunar" { spawn "thunar"; }

    // audio
    XF86AudioMute           allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMicMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // brightness
    XF86MonBrightnessUp     allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // media
    XF86AudioPlay           allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop           allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev           allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext           allow-when-locked=true { spawn-sh "playerctl next"; }
    Mod+K                   allow-when-locked=true hotkey-overlay-title="Play/pause music" { spawn-sh "playerctl play-pause"; }
    Mod+Ctrl+K              allow-when-locked=true hotkey-overlay-title="Previous Song" { spawn-sh "playerctl previous"; }
    Mod+Shift+K             allow-when-locked=true hotkey-overlay-title="Next Song" { spawn-sh "playerctl next"; }

    // screenshot
    Print                   { screenshot show-pointer=false; }
    Ctrl+Print              { screenshot-screen show-pointer=false; }
    Alt+Print               { screenshot-window; }
    //? write to disk
    Mod+I                   { screenshot show-pointer=false; }
    Mod+Shift+I             { screenshot show-pointer=false; }

    // navigation
    Mod+T                   repeat=false hotkey-overlay-title="Toggle overview" { toggle-overview; }
    Mod+Escape              repeat=false hotkey-overlay-title="Close window" { close-window; }

    Mod+Q                   { focus-column-left; }
    Mod+D                   { focus-column-right; }
    Mod+Shift+Q             { move-column-left; }
    Mod+Shift+D             { move-column-right; }
    Mod+Alt+Q               { focus-column-first; }
    Mod+Alt+D               { focus-column-last; }
    Mod+Ctrl+Q              { move-column-to-first; }
    Mod+Ctrl+D              { move-column-to-last; }


    Mod+Z                   { focus-workspace-up; }
    Mod+S                   { focus-workspace-down;}
    Mod+Shift+Z             { move-column-to-workspace-up; }
    Mod+Shift+S             { move-column-to-workspace-down; }

    Mod+A                   { focus-monitor-left; }
    Mod+E                   { focus-monitor-right; }
    Mod+Shift+A             { move-column-to-monitor-left; }
    Mod+Shift+E             { move-column-to-monitor-right; }
    Mod+Ctrl+Z              { move-workspace-up; }
    Mod+Ctrl+S              { move-workspace-down; }
    Mod+Ctrl+A              { move-workspace-to-monitor-left; }
    Mod+Ctrl+E              { move-workspace-to-monitor-right; }

    Mod+WheelScrollDown     cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollUp       cooldown-ms=150 { focus-column-right; }

    Mod+Ampersand           { focus-workspace 1; }
    Mod+eacute              { focus-workspace 2; }
    Mod+quotedbl            { focus-workspace 3; }
    Mod+apostrophe          { focus-workspace 4; }
    Mod+parenleft           { focus-workspace 5; }
    Mod+section             { focus-workspace 6; }
    Mod+egrave              { focus-workspace 7; }
    Mod+exclam              { focus-workspace 8; }
    Mod+ccedilla            { focus-workspace 9; }
    Mod+agrave              { focus-workspace "music"; }
    Mod+parenright          { focus-workspace "social"; }
    Mod+minus               { focus-workspace "plan"; }
    Mod+Ctrl+Ampersand      { move-window-to-workspace 1; }
    Mod+Ctrl+eacute         { move-window-to-workspace 2; }
    Mod+Ctrl+quotedbl       { move-window-to-workspace 3; }
    Mod+Ctrl+apostrophe     { move-window-to-workspace 4; }
    Mod+Ctrl+parenleft      { move-window-to-workspace 5; }
    Mod+Ctrl+section        { move-window-to-workspace 6; }
    Mod+Ctrl+egrave         { move-window-to-workspace 7; }
    Mod+Ctrl+exclam         { move-window-to-workspace 8; }
    Mod+Ctrl+ccedilla       { move-window-to-workspace 9; }

    Mod+F                   { maximize-column; }
    Mod+Ctrl+F              { fullscreen-window; }
    Mod+Shift+F             { expand-column-to-available-width; }
    Mod+Shift+V             { toggle-window-floating; }

    Mod+W                   { consume-or-expel-window-left; }
    Mod+Shift+W             { consume-or-expel-window-right; }

    Mod+R                   { switch-preset-column-width; }

    Mod+C                   { center-column; }


    Mod+Alt+F4              { quit; }
    Ctrl+Alt+Delete         { quit; }


}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {
    match app-id="Alacritty"
    opacity 0.8
}

window-rule {
    match app-id="code"
    match app-id="antigravity"
    opacity 0.90
    draw-border-with-background false
}

layout {
    gaps 8
    center-focused-column "never"
    background-color "transparent"



    preset-column-widths { 
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width {}

    focus-ring {
        width 4
        active-color "#ff6a00ff"
        inactive-color "#505050"

    }
}



layer-rule {
    match namespace="awww-daemon"
    match namespace="quickshell"
    place-within-backdrop true
}

prefer-no-csd

workspace "plan" {

}

window-rule {
    match at-startup=true app-id="carpe_diem$"
    open-maximized true

}


workspace "music" {

}

window-rule {
    match at-startup=true app-id="easyeffects$"
    match at-startup=true app-id="spotify"
    open-on-workspace "music"
}

workspace "social" {

}
include "dms/outputs.kdl"
