layout {

    focus-ring {
        active-color   "#e4d267"
        inactive-color "#262417"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e4d267"
        inactive-color "#262417"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#26241770"
    }

    tab-indicator {
        active-color   "#e4d267"
        inactive-color "#8d7a0c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4d26780"
    }
}

recent-windows {
    highlight {
        active-color "#e4d267"
        urgent-color "#fd4663"
    }
}
