layout {

    focus-ring {
        active-color   "#e49167"
        inactive-color "#271c16"
        urgent-color   "#804b2b"
    }

    border {
        active-color   "#e49167"
        inactive-color "#271c16"
        urgent-color   "#804b2b"
    }

    shadow {
        color "#271c1670"
    }

    tab-indicator {
        active-color   "#e49167"
        inactive-color "#8d370c"
        urgent-color   "#804b2b"
    }

    insert-hint {
        color "#e4916780"
    }
}

recent-windows {
    highlight {
        active-color "#e49167"
        urgent-color "#804b2b"
    }
}
