/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6e380f !important;
  --toolbarbutton-icon-fill: #ffb689 !important;
  --toolbar-field-color: #f0dfd7 !important;
  --tab-selected-textcolor: #ffb689 !important;
  --toolbar-color: #f0dfd7 !important;
  --arrowpanel-color: #f0dfd7 !important;
  --arrowpanel-background: #261e19 !important;
  --sidebar-text-color: #f0dfd7 !important;
  --zen-main-browser-background: #19120d !important;
}

.sidebar-placesTree {
  background-color: #261e19 !important;
}

#zen-workspaces-button {
  background-color: #261e19 !important;
}

#TabsToolbar {
  background-color: #19120d !important;
}

.urlbar-background {
  background-color: #261e19 !important;
}

.urlbar-input::selection {
  color: #512400 !important;
  background-color: #ffb689 !important;
}

.urlbarView-url {
  color: #d7c3b8 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb689
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc09a !important;
  --identity-icon-color: #ffc09a !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb689 !important;
  --identity-icon-color: #ffb689 !important;
}

.identity-color-green {
  --identity-tab-color: #b5ffa5 !important;
  --identity-icon-color: #b5ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffefa5 !important;
  --identity-icon-color: #ffefa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe572 !important;
  --identity-icon-color: #ffe572 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa39f !important;
  --identity-icon-color: #ffa39f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffcbac !important;
  --identity-icon-color: #ffcbac !important;
}

.identity-color-purple {
  --identity-tab-color: #763811 !important;
  --identity-icon-color: #763811 !important;
}

#zen-appcontent-navbar-container {
  background-color: #19120d !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb689 !important;
  color: #ffb689 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb689 !important;
  color: #ffb689 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb689 !important;
}
